<%- include('partials/header') %>
<section class="py-5">
	<div class="container">
		<div class="row align-items-center gx-4">
			<div class="col-md-5">
				<div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="/images/dumpster.webp"></div>
			</div>
			<div class="col-md-6 offset-md-1">
				<div class="ms-md-2 ms-lg-5">
					<span class="text-muted">Draper City Dumpster Rental Program</span>
					<h2 class="display-5 fw-bold">About</h2>
					<p class="lead">
                        In addition to the curbside garbage and recycling collection services, 
                        Draper City offers its residents a Dumpster Clean-up Program. This service is offered 
                        year round and intended for residential use only, however neighborhood associations, 
                        homeowners associations, and volunteer groups located in Draper City may also 
                        use this program.
                    </p>
					<p class="lead mb-0">Two sizes of dumpsters are available:</p>
                    <ul>
                        <li>
                            20-yard – $120 rental fee (16’ L X 6’ H X 8’ W, weight limit 6 tons). 
                        </li>
                        <li>
                            30-yard – $150 rental fee (22' L X 6’ H X 8’ W, weight limit 10 tons).
                        </li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</section>
<%- include('partials/footer') %>